@{
    ViewData["Title"] = "Teste";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="container">
           @* Conteúdo aqui *@ Teste de bootstrep.
        </div>
    </div>
